h1 {
  color:rgb(154, 241, 142); 
  background-color:rgb(46, 43, 226);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}

h2 {color:rgb(154, 241, 142); 
  background-color:rgb(46, 43, 226);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

li {
    color: black;
  font-family: 'Courier New';
  font-size: 30px;
  font-weight: 700;
}

p {
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}